[submodule "OSS/tests/semgrep-rules"]
path = tests/semgrep-rules
url = https://github.com/returntocorp/semgrep-rules.git

[submodule "semgrep-pfff-langs"]
	path = semgrep-pfff-langs
	url = git@github.com:aryx/semgrep-pfff-langs.git
[submodule "semgrep-pfff-libs"]
	path = semgrep-pfff-libs
	url = git@github.com:aryx/semgrep-pfff-libs.git
